[submodule "libraries/love2d"]
	path = libraries/love2d
	url = https://github.com/LuaCATS/love2d
[submodule "libraries/luasocket"]
	path = libraries/luasocket
	url = https://github.com/LuaCATS/luasocket.git
